
#img_pdf {
    overflow: scroll;
}

.hovertext text {
    font-size: 10px !important;
}
.legendtext {
    font-size: 30px !important;
}

#img_pdf2 {
    overflow: scroll;
}

#img_pdf3 {
    overflow: scroll;
}


#page_summariz {
    overflow: scroll;
}

